In [1]:
# Q1 How do you comment code in python? what are the different types of comments

In [2]:
# Comment can be coded using # symbol at the starting. Two types single line and multi line comments

In [3]:
##single line comment example
##my name is mounika

In [5]:
## Multiline comment
""" 
different fruits
orange, mango,
banana, grapes, watermelon
apple, guava 
"""
name = 'apple'
print(name)

apple

In [6]:
#Q2 What are variables in python? How do you declare and assign values to variables?

In [7]:
# Variables are alpha numeric characters and they are case sensitive. We will assign values to variables by = function

In [8]:
#example 
name = "mounika"

In [9]:
name

'mounika'

In [10]:
a = 6
b = 10.89

In [11]:
a, b

(6, 10.89)

In [12]:
#Q3 How do you convert one data to another in python

In [13]:
# We convert one data type to another by Type casting

In [14]:
#example
a= 36.89
type(a)

float

In [15]:
str(a)

'36.89'

In [16]:
int(a)

36

In [17]:
#Q4 #Q4. How do you write and execute a Python scritp from the command line?

In [64]:
""" Open a text editor and create a new file and enter Python code and Save the file with a '.py' extension.
Now open the command prompt and navigate to the directory where Python script is saved using the 'cd' command.
then script can be executed by typing 'Python' followed by script's file name and press ENTER, and we can see the output of the script"""

" Open a text editor and create a new file and enter Python code and Save the file with a '.py' extension.\nNow open the command prompt and navigate to the directory where Python script is saved using the 'cd' command.\nthen script can be executed by typing 'Python' followed by script's file name and press ENTER, and we can see the output of the script"

In [18]:
#Q5 Give a list my_list = [1,2,3,4,5, write the code to slice the list and obtain the sub-list [2,3]]

In [19]:
my_list = [1,2,3,4,5]

In [20]:
print(my_list[1:3])

[2, 3]

In [ ]:
#Q6 What is a complex number in mathematics, and how is it represented in python

In [21]:
#complex number has both a real part and imaginary part
#Example
c= 4+5j

In [22]:
type(c)

complex

In [23]:
#Q7 What is the correct way to declare a variable named age and assign the value 25 to it

In [24]:
age = 25

In [25]:
age

25

In [26]:
#Q8 Declare a varaible named price and assign a value 9.99 to it. what data type does this variable belong to

In [27]:
price = 9.99

In [28]:
type(price)

float

In [29]:
# Q9 Create a variable named name and assign your full name to it as a string. How would you print the value of this variable

In [30]:
name= "kallem mounika"

In [31]:
print(name)

kallem mounika

In [32]:
# Q10 Given the string "Hello World!". Extract the substring World

In [33]:
c = "Hello World!"

In [42]:
c[6:11]

'World'

In [43]:
#Q11 Create a variable named is_student' and assign it to a boolean value indicating whether you are a student or not

In [63]:
is_student = True
if is_student == "false" :
    print("Currently a student")
else :
    print("Currently not a student")

Currently not a student